button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.puerco-button {
	padding: 8px 15px 5px;

	@include font-size( 2.0 );
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: $color__text-button;
	border: 2px solid $color__border-button;
	background-color: $color__background-button;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */

	transition: all 0.3s;

	&:focus,
	&:hover {
		outline-color: $color__border-input;
		color: $color__text-button-hover;
		background-color: $color__background-button-hover;
	}

	&:active {
		color: $color__text-button-active;
		background-color: $color__background-button-active;
	}
}
