input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	line-height: 1;
	background-color: $color__background-input;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	box-shadow: inset 5px 5px 5px rgba( $color__background-body, 0.05 );

	&:focus {
		color: $color__text-input-focus;
		outline-color: $color__border-input;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 20px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: 20px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	resize: vertical;
	line-height: 1.6;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}


::-webkit-input-placeholder {
	color: $color__text-placeholder;
}

::-moz-placeholder {
	color: $color__text-placeholder;
}

:-ms-input-placeholder {
	color: $color__text-placeholder;
}

.post-password-form {
	input[type="password"] {
		margin: 3px 0 13px;
		width: 100%;
	}
}
