h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
	font-weight: 900;
	font-variant-ligatures: common-ligatures;
	margin-bottom: 0.333em;
}

h1 {
	@include font-size( 4.8 );
}

h2 {
	@include font-size( 3.6 );
}

h3 {
	@include font-size( 2.4 );
}

h4 {
	font-family: $font__main;
	@include font-size( 1.8 );
	font-weight: 700;
}

.site-title {
	position: relative;
	margin-bottom: $size__spacing - 10;
	padding-bottom: $size__spacing;
	line-height: 1;
	text-align: center;
	border-bottom: 1px solid $color__text-main;

	a {
		color: $color__text-main;
		text-decoration: none;
	}

	&:after {
		position: absolute;
		overflow: hidden;
		left: calc( 50% - 30px ); // 60px wide total
		bottom: -15px;
		padding: 0 15px;
		content: '\2666';
		line-height: 1;
		height: 42px;
		background-color: $color__background-body;
	}
}

.site-description {
	margin: 0 0 $size__spacing - 10;
	padding-bottom: $size__spacing - 10;
	border-bottom: 1px solid $color__text-main;
	font-family: $font__header;
	@include font-size( 3.0 );
	font-style: italic;
	text-align: center;
	font-variant-ligatures: common-ligatures;
}

.page-header {
	margin-bottom: $size__spacing;
}

.entry-title {
	margin-bottom: 10px;
	@include font-size( 2.4 );

	.nova_menu_item & {
		margin-bottom: 0;
		font-family: $font__main;
		@include font-size( 1.8 );
	}
}

.menu-group-title {
	@include font-size( 2.4 );
	font-variant-ligatures: common-ligatures;

	&:hover,
	&.selected {
		color: $color__link;
	}

	&.selected:after {
		position: absolute;
		overflow: hidden;
		left: calc( 50% - 5px ); // 9px wide total
		bottom: -15px;
		content: '\2666';
		line-height: 1;
		font-size: 18px;
		height: 16px;
	}
}

.widget-title {
	font-family: $font__main;
	@include font-size( 1.8 );
	font-weight: 700;
	color: $color__text-widget-title;
}

.comments-title,
.comment-reply-title {
	margin-bottom: $size__spacing;
	@include font-size( 3.6 );
}
