
.site-footer {
	margin-bottom: $size__spacing;
	text-align: center;
	color: $color__text-footer;
	font-style: italic;

	.sep {
		font-style: normal;
	}

	a {
		@include white-link;
		color: $color__text-footer;
	}
}
