
.home.page {
	.entry-content {
		display: table-cell;
		position: relative;
		z-index: 10;
		vertical-align: bottom;
		padding: 65px 0;
		@include font-size( 2.4 );
	}

	.hentry {
		border-bottom: none;
	}

	/* If the entry element has a style, the background's been set. */
	.hentry[style] {
		position: relative;
		display: table;
		width: 100%;
		height: 80vh;
		min-height: 300px;
		max-height: 800px;
		background: transparent no-repeat center;
		background-size: cover;

		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background-image: linear-gradient( rgba( black, 0 ), rgba( black, 0.75 ) );
		}

		.entry-content {
			padding-left: 80px;
			padding-right: 80px;
		}
	}
}
