.sticky {/*! @todo */}

.hentry {
	margin: 0 0 $size__spacing;
}

.entry-title a,
.read-more {
	@include white-link;
}

.read-more,
.posted-on {
	font-weight: bold;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
   Shared
--------------------------------------------------------------*/
body.single, body.page {
	.hentry {
		margin-bottom: $size__spacing;
		padding-bottom: $size__spacing * 1.5;
		border-bottom: 1px solid $color__text-main;
	}

	.entry-title {
		margin-bottom: $size__spacing-small;
		@include font-size( 3.6 );
	}

	.entry-image {
		margin-bottom: $size__spacing-small;
	}
}

body.page.comments-closed .hentry {
	border-bottom: none;
}

@media screen and (max-width: 768px) {
	body.single, body.page {
		.hentry {
			padding-bottom: 0;
		}
	}
}
