.sticky {/*! @todo */}

.hentry {
	margin: 0 0 $size__spacing;
}

.entry-title, .read-more {
	a {
		color: white;
		text-decoration: none;

		&:hover, &:active, &:focus {
			color: white;
			text-decoration: underline;
		}
	}
}

.posted-on {
	font-weight: bold;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
