.sticky {/*! @todo */}

.hentry {
	margin: 0 0 $size__spacing;
}

.entry-title a,
.read-more {
	@include white-link;
}

.read-more,
.posted-on {
	font-weight: bold;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
