/*--------------------------------------------------------------
   Food Menus
--------------------------------------------------------------*/

.menu-page {
	.hentry {
		margin-bottom: 0;
	}
}

.menu-group-title {
	position: relative;
	display: inline-block;
	margin: 0 10px $size__spacing;
	cursor: pointer;

	&:first-of-type {
		margin-left: 0;
	}
	&:last-of-type {
		margin-right: 0;
	}
}

.menu-group-description {
	margin-bottom: $size__spacing-small;
	padding-bottom: $size__spacing-small;
	@include font-size( 2.2 );
	font-style: italic;
	border-bottom: 1px solid $color__text-main;
}

.menu-items {
	margin: 0 -17.5px;

	.nova_menu_item {
		display: inline-block;
		vertical-align: top;
		padding: 0 17.5px;
		width: 33%;
		box-sizing: border-box;
	}

	.entry-title {
		float: left;
	}

	.menu-price {
		float: right;
		font-weight: 900;
	}
}

//  Animation
.menu-description-container,
.menu-items-container {
	position: relative;
	overflow: hidden;
}
.menu-group-description,
.menu-items {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.1s linear;

	&.selected {
		opacity: 1;
	}
}

.menu-group-title {
	&:after {
		opacity: 0;
		transform: scale(2);
		transition: opacity 0.2s linear,
		            color 0.2s ease-out,
		            transform 0.2s ease-out;
	}

	&.selected:after {
		opacity: 1;
		transform: none;
	}
}
