
.single {
	.entry-container {
		float: right;
		margin: 0 0 0 -34.5%;
		width: 100%;
	}

	.entry-content {
		margin: 0 0 0 34.5%;
	}

	.entry-meta {
		float: left;
		overflow: hidden;
		width: 34.5%;
		padding-right: 35px;
	}

	.updated:not(.published) {
		font-style: italic;
	}
}

.meta-item {
	margin-bottom: $size__spacing-small;
	font-weight: bold;

	a {
		font-weight: normal;
		@include white-link;
	}

	&.format-link span {
		font-weight: normal;
	}
}

@media screen and (max-width: 768px) {
	.single {
		.entry-container,
		.entry-meta {
			float: none;
			margin: 0;
			width: 100%;
		}

		.entry-content {
			margin: 0;
		}

		.entry-meta {
			margin-top: $size__spacing-small;
			padding-top: $size__spacing-small;
			border-top: 1px solid $color__text-main;
		}
	}
}
