/* Text meant only for screen readers */
.screen-reader-text {
	@include screen-reader-only;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-screen;
		@include border-radius(3px);
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		@include font-size(1.4);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}
