/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

.infinite-scroll #infinite-footer {
	.container {
		padding: 6px 20px 3px;
		border-top: none;
		background-color: rgba( $color__background-body, 0.9 );
	}
	.blog-info a,
	.blog-credits,
	.blog-credits a {
		@include font-size( 1.6 );
		color: $color__text-footer;
	}
	.blog-credits {
		font-style: italic;
	}
}

.infinite-scroll #infinite-handle {
	font-family: $font__header;
	font-weight: 900;
	text-align: center;

	span {
		display: block;
		padding: 0 0 $size__spacing;
		background-color: transparent;
		@include font-size( 1.8 );

		button:hover,
		button:active,
		button:focus {
			color: $color__link;
		}
	}
}

.infinite-loader {
	padding: 0 0 ( $size__spacing + 28 );

	.spinner {
		left: 50% !important;
	}
}
